@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 224 71% 4%;
    --card: 240 5% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 240 5% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 158 41% 30%;
    --primary-foreground: 158 41% 95%;
    --secondary: 215 28% 93%;
    --secondary-foreground: 224 71% 4%;
    --muted: 215 28% 93%;
    --muted-foreground: 224 71% 15%;
    --accent: 158 41% 45%;
    --accent-foreground: 158 41% 95%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 87%;
    --input: 215 20% 87%;
    --ring: 158 41% 30%;
    --chart-1: 158 41% 30%;
    --chart-2: 158 41% 45%;
    --chart-3: 158 41% 60%;
    --chart-4: 158 41% 75%;
    --chart-5: 158 41% 90%;
    --radius: 0.5rem;
    --sidebar-background: 240 5% 96%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 158 41% 30%;
    --sidebar-primary-foreground: 158 41% 95%;
    --sidebar-accent: 215 28% 93%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 215 20% 87%;
    --sidebar-ring: 158 41% 30%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 158 41% 45%;
    --primary-foreground: 158 41% 95%;
    --secondary: 215 28% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 15%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 25%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 158 41% 45%;
    --chart-1: 158 41% 45%;
    --chart-2: 158 41% 55%;
    --chart-3: 158 41% 65%;
    --chart-4: 158 41% 75%;
    --chart-5: 158 41% 85%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 158 41% 45%;
    --sidebar-primary-foreground: 158 41% 95%;
    --sidebar-accent: 215 28% 15%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 158 41% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
